<html>
	<head>
		<title>Aling Nena's Sari-Sari Store</title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	</head>
	<body>
		<div id="header"></div>
		<h1>How It All Started...</h1>
		<p>Back in 1956, large scale groceries like Puregold, Hypermarket, and etcetera were non-existent.</p>
		<p>How then did ordinary townsfolk get their basic necessities?</p>
		<img src="http://www.cocopalace.jp/jpn/star-01.JPG" id="about" />
		<p>The answer is that they didn't. Ordinary townsfolk couldn't just pop into the nearest grocery or convenience store. Transportation costs were extremely high and the roads were literally chipping of and cracking right in the middle. And so during that time, there was only one depot store in every city, where <strong>ALL</strong> consumer goods would be deposited and sold in a first come first serve basis. Naturally, these depot stores would be located in the richest area of the city and being nearer to the store, the rich would get most of the consumer goods, leaving little to none to the average folks.</p>
		
		<p>However all of this changed in the city of Quezon when a (previously), little known Barangay came up with the idea of buying consumer goods in bulk and as one community, that way the needs of everyone could be met and all at the same time. Thrilled by this new idea, the town quickly organized a committee, which was headed by Willamina Garces, more commonly known as Aling Nena to her town mates. Three days before the new shipment of goods would be unloaded in the depot, Aling Nena would go around town and make a list of what everyone wanted and no matter how diverse the needs (from eggs to shaving razors), Aling Nena would always manage to get it. At first townspeople would all crowd to Aling Nena's house to buy the goods she managed to obtain. However due to the number of people who relied on Aling Nena, she soon had to open a store of her own to accommodate these people. </p>
		<h2 id="center">And so the First <strong>Aling Nena's Sari-Sari</strong> store was born in Barangay Toro, Quezon City!</h2>
		<h3>Things didn't end there though!</h3>
		<p>Inspired by Aling Nena's ingenuity, numerous sari-sari stores cropped up. All with the word Aling before their store name to commemorate the Aling Nena. Even now when large scale grocery stores are being erected, many townsfolk still prefer to go to Aling Nena's Sari-Sari store, which has been expanding ever since!</p>
		<p>Through thick and thin, Aling Nena has always been there for the people. While profit may be the main goal of other groceries and convenience stores, as evidenced by Aling Nena's long history, this is clearly not the case for her cherished Sari-Sari store. Aling Nena's Sari-Sari store has and will always be for the people, and with this in mind we bid you shopper a great and wonderful experience here in Aling Nena's Super market!</p>
	<br />
		<h1 id="end">Cheers!</h1>
		<footer><strong>Aling Nena's Sari-Sari Store: A place open to <span>EVERYONE</span> all day and all night!</strong></footer>
	</body>
</html>